<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Dashboard</title>
</head>
<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1><i class='bx bxs-plane-alt' ></i>Safe Travel</h1>
        </div>
        <ul>
          <li><a href="/dashboard" class="side-text"><i class='bx bxs-dashboard' ></i>&nbsp; <span>Dashboard</span> </a></li>
          <li><a href="/dashboard/dashboardSpots" class="side-text"><i class='bx bxs-location-plus'></i></i>&nbsp;<span>View Tourist Spot</span></a></li>
          <li><a href="/dashboard/dashboardRestaurant" class="side-text"><i class='bx bx-restaurant' ></i></i>&nbsp;<span>View Restaurants</span></a></li>
          <li><a href="/dashboard/dashboardHotel" class="side-text"><i class='bx bxs-hotel' ></i></i>&nbsp;<span>View Hotel</span></a></li>
          <li><a href="/dashboard/dashboardHotline" class="side-text"><i class='bx bxs-bell-minus' ></i></i>&nbsp;<span>Emergency Services</span></a> </li>
          <li><a href="/dashboard/dashboardFavorite" class="side-text"><i class='bx bxs-check-square' ></i>&nbsp;<span>Favorite</span></a> </li>
          <li><a href="#" class="side-text"><i class='bx bx-history' ></i>&nbsp; <span>Profile</span></a></li>
          <li><form action="/logout" method="GET"><button type="submit" id="d-button" class="side-text"><i class='bx bxs-log-out' ></i>&nbsp;<span>Logout</form></span></a></li>
         
        </ul>
    </div>
    <div class="container2">
        <h1>My Profile</h1>
        <div class="profile-info">
          <p><strong>First Name:</strong> <%=user.firstName%></p>
          <p><strong>Last Name:</strong> <%=user.lastName%></p>
          <p><strong>Email:</strong> <%=user.email%></p>
          <button id="change-password">Change Password</button>
          <button id="change-name">Change Name</button>
            <br><br>
            <% if (messages.error) { %>
              <div class="alert alert-danger" style="color: red;"><%= messages.error %></div>
            <% } %>
            
            <% if (messages.success) { %>
              <div class="alert alert-success" style="color: green;"><%= messages.success %></div>
            <% } %></h4>
          
        </div>
        <div id="change-password-form" class="hidden">
          <h2>Change Password</h2>
          <form method="POST" action="dashboardProfile/users/changepassword/<%= user._id %>?_method=PUT" method="POST">
            <label for="current-password">Current Password:</label>
            <input type="password" id="oldPassword" name="oldPassword">
            <label for="new-password">New Password:</label>
            <input type="password" id="newPassword" name="newPassword">
            <label for="confirm-password">Confirm New Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword">
            <button type="submit">Save Changes</button>
          </form>
        </div>
        <div id="change-name-form" class="hidden">
          <h2>Change Name</h2>
          <form method="POST" action="dashboardProfile/users/<%= user._id %>?_method=PUT" method="POST">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName">
            <button type="submit">Save Changes</button>
          </form>
        </div>
      </div>
<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.profile-info {
  margin: 20px;
  padding: 20px;
}

.profile-info p{
    margin-bottom: 20px;
}

.container2 {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.profile-info {
  margin-top: 20px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #008CBA;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #00698C;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  margin-top: 20px;
}

#change-password {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #008CBA;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

#change-name {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #008CBA;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.dash-content{
    margin: 10px;
    padding: 5px;
    font-size: 25px;
}
body {
    min-height: 100vh;
    background: #d8d7d7;
}
a {
    text-decoration: none;
}

#d-button{
    background-color:#0000;
    border-color: #0000 transparent;
    width: 100px;
    height: 35px;
    text-align: center;

    
}
#d-button:hover {
    color: #000;
    background: white;
    border-color: black;
}

.side-text{
    color: #000;
    margin-top: 10px;
    padding-left: 2px;
    padding-top: 10px;
    font-size: 18px;
}
li {
    list-style: none;
}
h1,
h2 {
    color: #000;
}
h3 {
    color: #999;
}
.btn {
    background: #f05462;
    color: white;
    padding: 5px 10px;
    text-align: center;
}
.btn:hover {
    color: #f05462;
    background: white;
    padding: 3px 8px;
    border: 2px solid #f05462;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}
table {
    padding: 10px;
}
th,
td {
    text-align: left;
    padding: 8px;
}
.side-menu {
    position: fixed;
    background: #d8d7d7;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
}
.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #0073e5 !important;
}

.side-menu li {
    font-size: 24px;
    padding: 15px 40px;
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
}
.side-menu li:hover {
    background: darkgray;
    /* color: #f05462; */
    color: gray;
}


</style>
</body>
<script>
    
    const button = document.querySelector('#change-password')
    const button2 = document.querySelector('#change-name')
    const passwordForm = document.querySelector('#change-password-form')
    const nameForm = document.querySelector('#change-name-form')
    button.addEventListener('click',()=>{
        passwordForm.classList.remove('hidden')
        nameForm.classList.add('hidden');
    })
    
    button2.addEventListener('click',()=>{
        nameForm.classList.remove('hidden')
        passwordForm.classList.add('hidden');

    })
    </script>
</html>