<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Favorites</title>
</head>
<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1><i class='bx bxs-plane-alt' ></i>Safe Travel</h1>
        </div>
        <ul>
            <li><a href="/dashboard" class="side-text"><i class='bx bxs-dashboard' ></i>&nbsp; <span>Dashboard</span> </a></li>
            <li><a href="/dashboard/dashboardSpots" class="side-text"><i class='bx bxs-location-plus'></i></i>&nbsp;<span>View Tourist Spot</span></a></li>
            <li><a href="/dashboard/dashboardRestaurant" class="side-text"><i class='bx bx-restaurant' ></i></i>&nbsp;<span>View Restaurants</span></a></li>
            <li><a href="/dashboard/dashboardHotel" class="side-text"><i class='bx bxs-hotel' ></i></i>&nbsp;<span>View Hotel</span></a></li>
            <li><a href="/dashboard/dashboardHotline" class="side-text"><i class='bx bxs-bell-minus' ></i></i>&nbsp;<span>Emergency Services</span></a> </li>
            <li><a href="#" class="side-text"><i class='bx bxs-check-square' ></i>&nbsp;<span>Favorite</span></a> </li>
            <li><a href="/dashboard/dashboardProfile" class="side-text"><i class='bx bx-history' ></i>&nbsp; <span>Profile</span></a></li>
            
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                
                <div class="user">
                    <p>Hello, <%=user.firstName%> <%=user.lastName%></p>
                    <p><form action="/logout" method="GET"><button type="submit" id="d-button" class="side-text"><i class='bx bxs-log-out' ></i>&nbsp;<span>Logout</form></span></a> </p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cards">
                <!-- <div class="card2">
                    <div class="box">
                        <h1>Viewing Favorites</h1>
                    </div>
                    
                </div> -->
               
            </div>
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>Tourist Spot</h2>
                    </div>
                    <table class = "table">
                        <tr>
                            <th>Location</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <% for( let index = 0; index < user.favorite.length; index++ ) { %>
                            <% if (user.favorite[index].category=='Spots') { %>
                                <% if(index % 2 == 0){ %>
                                    <tr>
                                        <td class="even"><%=user.favorite[index].location%></td>
                                        <td class="even"><%=user.favorite[index].name %></td>
                                        <td class="even"><a style="color: black" href="/dashboard/dashboardSpots/<%=user.favorite[index].id%>">View Details</a></td>
                                        <td class="even"><form action="/dashboard/dashboardFavorites/<%=user.favorite[index].id%>" method="POST">
                                            <button>Delete</button>
                                        </form></td>
                                    </tr>
                            <% }else{ %>
                                <tr>
                                    <td><%=user.favorite[index].location%></td>
                                    <td><%=user.favorite[index].name %></td>
                                    <td><a style="color: black" href="/dashboard/dashboardSpots/<%=user.favorite[index].id%>">View Details</a></td>
                                    <td><form action="/dashboard/dashboardFavorites/<%=user.favorite[index].id%>" method="POST">
                                        <button>Delete</button>
                                    </form></td>
                                </tr>
                                <% } %>        
                            <% } %>
                            
                        <% } %>
                        
                        </table>
                </div>
                <div class="recent-payments">
                    <div class="title">
                        <h2>Restaurant</h2>
                    </div>
                    <table class = "table">
                        <tr>
                            <th>Location</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <% for( let index = 0; index < user.favorite.length; index++ ) { %>
                            <% if (user.favorite[index].category=='Restaurants') { %>
                                <% if(index % 2 == 0){ %>
                                    <tr>
                                        <td class="even"><%=user.favorite[index].location%></td>
                                        <td class="even"><%=user.favorite[index].name %></td>
                                        <td class="even"><a style="color:black" href="/dashboard/dashboardRestaurant/<%=user.favorite[index].id%>">View Details</a></td>
                                        <td class="even"><form action="/dashboard/dashboardFavorites/<%=user.favorite[index].id%>" method="POST">
                                            <button>Delete</button>
                                        </form></td>
                                    </tr>
                                <% }else{ %>
                                    <tr>
                                        <td><%=user.favorite[index].location%></td>
                                        <td><%=user.favorite[index].name %></td>
                                        <td><a style="color:black" href="/dashboard/dashboardRestaurant/<%=user.favorite[index].id%>">View Details</a></td>
                                        <td><form action="/dashboard/dashboardFavorites/<%=user.favorite[index].id%>" method="POST">
                                            <button>Delete</button>
                                        </form></td>
                                    </tr>
                                    <% } %>    
                            <% } %>
                            
                        <% } %>
                        </table>
                    
                </div>
                <div class="recent-payments">
                    <div class="title">
                        <h2>Hotel</h2>
                    </div>
                    <table class = "table">
                        <tr>
                            <th>Location</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <% for( let index = 0; index < user.favorite.length; index++ ) { %>
                            <% if (user.favorite[index].category=='Hotels') { %>
                                <% if(index % 2 == 0){ %>
                                    <tr>
                                        <td class="even"><%=user.favorite[index].location%></td>
                                        <td class="even"><%=user.favorite[index].name %></td>
                                        <td class="even"><a style="color: black" href="/dashboard/dashboardHotel/<%=user.favorite[index].id%>">View Details</a></td>
                                        <td class="even">
                                            <form action="/dashboard/dashboardFavorites/<%=user.favorite[index].id%>" method="POST">
                                                <button>Delete</button>
                                            </form>
                                            
                                        </td>
                                    </tr>
                                <% }else { %>
                                    <tr>
                                        <td><%=user.favorite[index].location%></td>
                                        <td><%=user.favorite[index].name %></td>
                                        <td><a style="color: black" href="/dashboard/dashboardHotel/<%=user.favorite[index].id%>">View Details</a></td>
                                        <td>
                                            <form action="/dashboard/dashboardFavorites/<%=user.favorite[index].id%>" method="POST">
                                                <button>Delete</button>
                                            </form>
                                            
                                        </td>
                                    </tr>
                                <% } %>    
                            <% } %>
                            
                        <% } %>
                        </table>
                </div>
            </div>
        </div>
    </div>
    </div>
<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.comment{
    padding: 5px;
    margin: 10px;
}
body {
    min-height: 100vh;
}

#d-button{
    background-color:#0000;
    border-color: #0000 transparent;
    width: 100px;
    height: 35px;
    text-align: center;

    
}
#d-button:hover {
    color: #000;
    background: white;
    border-color: black;
}

.table{
    text-decoration: none;
    color: #000;
}



a {
    text-decoration: none;
}
.side-text{
    color: #000;
    margin-top: 10px;
    padding-left: 2px;
    padding-top: 10px;
    font-size: 18px;
}
li {
    list-style: none;
}
h1,
h2 {
    color: #000;
}
h3 {
    color: #999;
}
.btn {
    background: #f05462;
    color: white;
    padding: 5px 10px;
    text-align: center;
}
.btn:hover {
    color: #f05462;
    background: white;
    padding: 3px 8px;
    border: 2px solid #f05462;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}
table {
    padding: 10px;
}
th,
td {
    text-align: left;
    padding: 8px;
}

td{
    padding: 15px;
}


.side-menu {
    position: fixed;
    background: #d8d7d7;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
}
.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: #0073e5 !important;
}

.even{
    background: rgb(211, 209, 209) !important;
}

.side-menu li {
    font-size: 24px;
    padding: 15px 40px;
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
}
.side-menu li:hover {
    background: darkgray;
    /* color: #f05462; */
    color: gray;
}
.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}
.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}
.container .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}
.container .header .nav .search input[type=text] {
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}
.container .header .nav .search button {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .header .nav .search button img {
    width: 30px;
    height: 30px;
}
.container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .header .nav .user img {
    width: 40px;
    height: 40px;
}
.container .header .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}
.container .header .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #d8d7d7;
}
.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .content .cards .card {
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .content .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #d8d7d7;
}
.container .content .content-2 .recent-payments {
    min-height: 50vh;
    flex: 5;
    background-color: #F0F0F0;
    margin: 0 5px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}
.container .content .content-2 .new-students {
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}
.container .content .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
}
@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}
@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li img {
        width: 40px;
        height: 40px;
    }
    .side-menu li:hover {
        background: #f05462;
        padding: 8px 38px;
        border: 2px solid white;
    }
}
@media screen and (max-width:536px) {
    .brand-name h1 {
        font-size: 16px;
    }
    .container .content .cards {
        justify-content: center;
    }
    .side-menu li img {
        width: 30px;
        height: 30px;
    }
    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2) {
        display: none;
    }
}
</style>
</body>
</html>